Oues. 1 What are data structures, and why are they important?
   
    Ans:   Data structures are ways of organizing and storing data to perform operations efficiently. They are important because they allow programmers to manage and manipulate data in optimal ways depending on the problem.

Ques.2  Explain the difference between mutable and immutable data types with examples?

Ans:  Mutable: Can be changed after creation.
Example: list, dict, set

In [1]:
my_list = [1, 2, 3]
my_list[0] = 10  # This is allowed

Immutable: Cannot be changed after creation.
Example: int, float, str, tuple

In [ ]:
my_str = "hello"
# my_str[0] = "H"  # This will¬†cause¬†an¬†error

Ques.3 What are the main differences between lists and tuples in Python?

Ans:
       The main differences between lists and tuples in Python are as follows:

       
       Tuples: are generally more memory-efficient and perform slightly faster than lists, especially when dealing with a large number of elements or when used as dictionary keys (due to their immutability).
Lists: can be slower due to the overhead of supporting mutability (e.g., dynamic resizing).

Ques.4 Describe how dictionaries store data?

Ans:  Dictionaries store data in key-value pairs. Each key must be unique and is used to access the corresponding value. Internally, dictionaries use a hash table for fast lookup.

In [2]:
person = {"name": "Alice", "age": 30}

Ques.5 Why might you use a set instead of a list in Python?

Ans: Sets are used when:

You need unique elements (they remove duplicates automatically).

You want fast membership tests using "in".

Ques.6  What is a string in Python, and how is it different from a list?
  
  Ans:  A string is a sequence of characters and is immutable.

A list is a sequence of items (any data type) and is mutable.

In [ ]:
s = "hello"      # string
l = ['h', 'e']   # list

Ques.7 How do tuples ensure data integrity in Python?

Ans: Since tuples are immutable, their contents cannot be changed after creation. This ensures that data remains constant and protected from accidental modifications.

Ques.8 What is a hash table, and how does it relate to dictionaries in Python?

Ans:  A hash table is a data structure that maps keys to values using a hash function.
Python dictionaries are built on hash tables for fast key-based access.

Ques. 9 Can lists contain different data types in Python?

 Ans:  
      Yes, Python lists can contain elements of mixed data types.

In [ ]:
mixed = [1, "hello", 3.14, True]

Ques. 10 Explain why strings are immutable in Python?

 Ans:   Strings are immutable to:

Improve performance and memory efficiency.

Ensure consistent hashing for keys in dictionaries.

Prevent accidental changes in multi-threaded environments.

Ques.11 What advantages do dictionaries offer over lists for certain tasks?

Ans: Fast lookup using keys (O(1)).

More meaningful data structure using key-value pairs.

Useful for mapping and organizing

Ques. 12  Describe a scenario where using a tuple would be preferable over a list?
 Ans:  
      When you need a constant set of values that should not change:

Example: Returning coordinates from a function.

In [ ]:
def get_point():
    return (10, 20)  # Use tuple

Ques. 13 How do sets handle duplicate values in Python?

Ans:  Sets automatically remove duplicate values.

In [3]:
s = set([1, 2, 2, 3])
print(s)  # Output: {1, 2, 3}

{1, 2, 3}

Ques.14 How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?

Ans:  In lists, "in" checks for the presence of a value.

In dictionaries, "in" checks for the presence of a key.

In [4]:
lst = [1, 2, 3]
print(2 in lst)  # True

d = {"a": 1}
print("a" in d)  # True (key check)

True
True

Ques. 15 Can you modify the elements of a tuple? Explain why or why not?

Ans:  No, tuples are immutable, so their elements cannot be modified after creation.

t = (1, 2, 3)
# t[0] = 10  # Error: 'tuple' object does not support item assignment

Ques. 16 What is a nested dictionary, and give an example of its use case?

Ans:  A nested Dictionary is a dictionary that contains another dictionary as its value.   FOR EXAMPLE:

In [5]:
student = {
    "name": "Neha",
    "marks": {
        "math": 90,
        "science": 85
    }
}
print(student["marks"]["math"])  # Output: 90

90

Ques. 17 Describe the time complexity of accessing elements in a dictionary?

Ans: Accessing elements in a dictionary using a key has a time complexity of O(1) (constant time), because dictionaries in Python use hash tables for storage.

Ques. 18 In what situations are lists preferred over dictionaries?

Ans:  Lists are preferred when:

The data is ordered.

Access is done using index numbers.

You only need to store values, not key-value pairs.

Ques. 19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans: Before Python 3.7, dictionaries were considered unordered, meaning the order of items was not guaranteed.
From Python 3.7 onward, they maintain insertion order, but they are still key-based and not index-based.

Ques.20 Explain the difference between a list and a dictionary in terms of data retrieval?

Ans: Access by	Index (0, 1, 2...)	Key (e.g., "name", "age")
Retrieval Speed	Slower if searching (O(n))	Faster via key lookup (O(1))
Use Case	Ordered values	Key-value pairs


üìå Example:

# List
data = [10, 20, 30]
print(data[1])  # Output: 20

# Dictionary
info = {"name": "Neha", "a

PRACTICAL BASED QUESTIONS:

Ques.1 Write a code to create a string with your name and print it?

In [8]:
name= {"neha"}
print(name)

{'neha'}

Ques. 2 Write a code to find the length of the string "Hello World"?

In [9]:
text = "Hello World"
print(len(text))

11

Ques.3 Write a code to slice the first 3 characters from the string "Python Programming"?

In [10]:
text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

Ques.4 P Write a code to convert the string "hello" to uppercase?

In [11]:
text = "hello"
uppercase = text.upper()
print(uppercase)

HELLO

Ques.5 Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [12]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

Ques.6 Write a code to create a list with numbers 1 to 5 and print it?

In [13]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Ques.7 Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [14]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

Ques.8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [15]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Ques.9

In [16]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

Ques. 10

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

Ques.11  Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [17]:
t = (100, 200, 300)
print(t)
# Output: (100, 200, 300)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [18]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])
# Output: blue

blue

Ques.13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [19]:
t = (10, 20, 5, 15)
print(min(t))
# Output: 5

5

Ques.14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [20]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))
# Output: 1

1

Ques.15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [21]:
fruits = ('apple', 'banana', 'kiwi', 'mango', 'orange')
print('kiwi' in fruits)
# Output: True

True

Ques.16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [22]:
s = {'a', 'b', 'c'}
print(s)
# Output: {'a', 'b', 'c'}

{'a', 'b', 'c'}

Ques.17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [23]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)
# Output: set()

set()

Ques.18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [24]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)
# Output: {1, 2, 3}

{1, 2, 3}

Ques.19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [25]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))
# Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

Ques.20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [27]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))
# Output: {2, 3}

{2, 3}

Ques. 21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [28]:
d = {'name': 'John', 'age': 25, 'city': 'New York'}
print(d)
# Output: {'name': 'John', 'age': 25, 'city': 'New York'}

{'name': 'John', 'age': 25, 'city': 'New York'}

Ques. 22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [29]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)
# Output: {'name': 'John', 'age': 25, 'country': 'USA'}

{'name': 'John', 'age': 25, 'country': 'USA'}

Ques.23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [30]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])
# Output: Alice

Alice

Ques.24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [31]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)
# Output: {'name': 'Bob', 'city': 'New York'}

{'name': 'Bob', 'city': 'New York'}

Ques.25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [32]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)
# Output: True

True

Ques.26 Write a code to create a list, a tuple, and a dictionary, and print them all.

In [33]:
l = [1, 2, 3]
t = (4, 5, 6)
d = {'a': 1, 'b': 2}
print(l)
print(t)
print(d)
# Output:
# [1, 2, 3]
# (4, 5, 6)
# {'a': 1, 'b': 2}

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

Ques.27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [34]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)
# Output: Varies, e.g. [5, 17, 34, 62, 89]

[11, 12, 22, 31, 52]

Ques.28 Write a code to create a list with strings and print the element at the third index.

In [35]:
lst = ['apple', 'banana', 'cherry', 'date', 'fig']
print(lst[3])
# Output: date

date

Ques.29 Write a code to combine two dictionaries into one and print the result.

In [36]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)
# Output: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Ques.30 Write a code to convert a list of strings into a set.

In [37]:
lst = ['apple', 'banana', 'apple', 'orange']
s = set(lst)
print(s)
# Output: {'banana', 'orange', 'apple'}

{'orange', 'banana', 'apple'}